* {
  box-sizing: border-box;
}

body {
  font-family: "ZCOOL QingKe HuangYou";
  font-size: 28px;
  margin: 0;
  padding: 0;
  color: #0e1111;
  background-color: #353335;
}

.cont-grid {
  /* Main schema of page */
  display: grid;
  grid-template-rows: 0.5fr 0.3fr 5fr;
  grid-gap: 1em;
}

.cont-grid-about {
  /* Main schema of page */
  display: grid;
  color: #e0e2cc;
  grid-template-rows: 0.5fr 5.3fr;
  grid-gap: 1em;
}

.nav-title {
  grid-column: 1 / 5;
  padding-right: 3em;
  padding-left: 3em;
  padding-top: 0.5em;
  /* background-color: #0e1111; */
  opacity: 1;
  display: grid;
  grid-template-columns: 0.65fr 0.35fr;
  grid-template-areas: "title about";
}

.main {
  color: white;
  justify-self: end;
  align-self: center;
  grid-area: "title";
}

a {
  color: #3bb477;
}

a:hover {
  font-weight: bold;
}

.about {
  justify-self: end;
  align-self: center;
  grid-area: "about";
}

.user-sweep {
  grid-column: 2 / 3;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  /* display: inline-block; */
  /* border-radius: 6px; */
  color: #e0e2cc;
  background-color: #3b7682;
  border: solid 1px #e0e2cc;
}

.user-sweep:hover {
  /* color: #3b444b; */
  /* border: solid 6px; */
  border: solid 3px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.pressable {
  color: #e0e2cc;
  border: solid 1px #e0e2cc;
  /* border-radius: 6px; */
  padding: 3px;
  cursor: pointer;
}

.go {
  border: solid 1px #0e1111;
  /* border-radius: 6px; */
  padding: 3px;
  cursor: pointer;
  width: 6em;
  opacity: 0;
}

.pressable:hover {
  border: solid 3px;
  font-weight: bold;
}

.dragtext {
  display: inline-block;
}

.portrait {
  padding: 0;
  overflow: hidden;
  grid-column: 1 / 5;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.portrait-content {
  padding: 0;
  margin: 2em;
  grid-column: 1 / 5;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* TODO: Find also responsive showcase images */
/* Mobiles */
.flex-pic {
  flex: 1 1 100%;
  align-self: center;
  justify-self: center;
  diplay: block;
}

.portrait-content > div {
  flex: 1 1 100%;
  justify-self: center;
  diplay: block;
}

/* Tablets */
@media screen and (min-device-width: 786px) {
  .flex-pic {
    /* flex: 1; */
    width: 50%;
    flex-basis: 50%;
  }
  .portrait-content > div {
    flex: 0 50%;
  }
  .cont-grid {
    /* Main schema of page */
    grid-template-columns: 2fr 2fr;
  }
}

/* Computers */
@media screen and (min-device-width: 900px) {
  .flex-pic {
    /* flex: 1; */
    flex-basis: 33%;
  }
  .cont-grid {
    /* Main schema of page */
    grid-template-columns: 2fr 0.9fr 2fr;
  }
}

.flex-img {
  width: 60%;
  border: solid 1px #0e1111;
  background-color: #e0e2cc;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
