<!doctype html>
<html lang=en>
    <head>
        <meta charset=UTF-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <meta http-equiv=X-UA-Compatible content="ie=edge">
        <meta name=author content=steadylearner>
        <title>[404] Not Found :(</title>
        <link rel="stylesheet" href="/static/css/error.css">
    </head>
    <body>
    <main role="main">
      <section class="error">
      <img
        src="/static/img/err404.svg"
        alt="normal"
        class="flex-img"
        id=img1
      />
        <h1>No content for {{ path }} yet.</h1>
        <h2>
          <a href="/" alt="This is link to home [/] page.">
            Please, click this to back to the home page.
          </a>
        </h2>
      </section>
    </main>
    </body>
</html>
